.mask {
    width: 100%;
    height: 100vh;
    position: relative;
}

.intro-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.background {
    height: 100%;
    width: 100%;
}

.background .content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;
    text-align: center;
}

.background .content h1 {
    font-size: 3rem;
    padding: 0.6rem 0 1.5rem;
}

.content .btn {
    margin: 1rem 0.2rem;
}

@media screen and (max-width:640px) {
    .background .content h1 {
        font-size: 2.5rem;
    }
}